.articles-container{
  margin: 40px 160px;
}

.article-card {
  margin: 12px;
  width: 300px;
}

.article-header-image {
  background-color: lightblue;
  overflow: hidden;
  text-align: center;
  opacity: 50%;
}
